<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    
    <title>Sobre</title>
    
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="icon" type="image/png" href="/static/Imagens/Leconni-Rounded.png">

</head>

<body>
    
    <section class="Sub-header">
        
        <nav>
            
            <a href="./index.html"><img src="/static/Imagens/logo.png" alt="Logo"></a>
                
            <div class="nav-links" id="navLinks">

                    <i class="fas fa-times-circle" onclick="hideMenu()"></i>
                    
                    <ul>
                    <li><a href="./index.html">Início</a></li>
                    <li><a href="./About.html">Sobre</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Login</a></li>
                </ul>

            </div>

            <i class="fas fa-bars"onclick="showMenu()"></i>

        </nav>

        <h1>Sobre nós</h1>

    </section>

    <section class="about-us"></section>

        <div class="row">

            <div class="about-col">
                <h1>Sobre a Leconni</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id in, repellendus sapiente et ratione ipsum officiis eveniet facere omnis natus vero, alias doloremque quam consequatur?Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                <br>Rem modi placeat odio, veritatis ratione at necessitatibus? Alias, nesciunt recusandae aspernatur reprehenderit nam accusantium officia numquam maxime sint possimus omnis obcaecati.
                </p>
                <a href="" class="hero-btn red-btn">Contate Agora</a>
            </div>

            <div class="about-col">
                <img src="/static/Imagens/about.jpg">
            </div>

        </div>

        <section class="about-us"></section>

        <div class="row reverse">

            <div class="about-col">
                <h1>Nossa missão.</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id in, repellendus sapiente et ratione ipsum officiis eveniet facere omnis natus vero, alias doloremque quam consequatur?Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                <br>Rem modi placeat odio, veritatis ratione at necessitatibus? Alias, nesciunt recusandae aspernatur reprehenderit nam accusantium officia numquam maxime sint possimus omnis obcaecati.
                </p>
            </div>

            <div class="about-col">
                <img src="/static/Imagens/about.jpg">
            </div>

        </div>

    <section class="footer">

        <h4>Sobre nos</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Ipsum recusandae labore a animi omnis ut!</p>

        <div class="Icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-instagram"></i>                      
        </div>

    </section>

</body>
</html>
