<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    
    <title>Contact </title>
    
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"> 
    <link rel="icon" type="image/png" href="/static/Imagens/Leconni-Rounded.png">


</head>

<body>
    
    <section class="Sub-header">
        
        <nav>
            
            <a href="./index.html"><img src="/static/Imagens/logo.png" alt="Logo"></a>
                
            <div class="nav-links" id="navLinks">

                    <i class="fas fa-times-circle" onclick="hideMenu()"></i>
                    
                    <ul>
                        <li><a href="./index.html">Início</a></li>
                        <li><a href="./About.html">Sobre</a></li>
                        <li><a href="./Servicos.html">Serviços</a></li>
                        <li><a href="./Contact us.html">Contato</a></li>
                        <li><a href="./Blog.html">Blog</a></li>
                        <li><a href="./Login.html">Login</a></li>
                </ul>

            </div>

            <i class="fas fa-bars"onclick="showMenu()"></i>

        </nav>

        <h1>Contact us</h1>

    </section>

    <section class="Localizacao">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.743342141273!2d-43.9299351!3d-19.935217599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa69959c02048dd%3A0x47253aa7cf5f0872!2sAv.%20Get%C3%BAlio%20Vargas%2C%20671%20-%20Savassi%2C%20Belo%20Horizonte%20-%20MG%2C%2030112-021!5e0!3m2!1sen!2sbr!4v1742394068629!5m2!1sen!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <section class="contatar">
        <div class="row2">
            <div class="contatar-col">
                <i class="fas fa-home"></i>
                <span>
                    <h5>Av. Getúlio Vargas, 671</h5>
                    <p>Savassi, Conj. 500 - Cep: 3080-912</p>
                </span>
            </div>
    
            <div class="contatar-col">
                <i class="fas fa-phone"></i>
                <span>
                    <h5>Cel: (31) 3268.9296</h5>
                    <p>Segunda a sabado</p>
                </span>
            </div>
    
            <div class="contatar-col">
                <i class="fas fa-envelope"></i>
                <span>
                    <h5>leconni@leconni.com.br</h5>
                    <p>Nos envie sua duvida</p>
                </span>
            </div>
        </div>

        <div class="row">
             <div class="contatar-col form-col">
                <form action="">
                    <input type="text" placeholder="Nome" required>
                      <input type="email" placeholder="Email" required>
                        <input type="text" placeholder="Assunto" required>
                       <textarea rows="8" placeholder="Duvida" required></textarea>
                      <button type="submit" class="hero-btn red-btn">Enviar</button>
                  </form>
            </div>
         </div>
    </section>

    <section class="footer">

        <h4>Sobre nos</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Ipsum recusandae labore a animi omnis ut!</p>

        <div class="Icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-instagram"></i>                      
        </div>

    </section>

</body>
</html>


