<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    
    <title>Contato</title>
    
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"> 
    <link rel="icon" type="image/png" href="/static/Imagens/Leconni-Rounded.png">


</head>

<body>
    
    <section class="Sub-header">
        
        <nav>
            
            <a href="./index.html"><img src="/static/Imagens/logo.png" alt="Logo"></a>
                
            <div class="nav-links" id="navLinks">

                    <i class="fas fa-times-circle" onclick="hideMenu()"></i>
                    
                    <ul>
                        <li><a href="./index.html">Início</a></li>
                        <li><a href="./About.html">Sobre</a></li>
                        <li><a href="./Servicos.html">Serviços</a></li>
                        <li><a href="./Contact us.html">Contato</a></li>
                        <li><a href="./Contato.html">Contato 2 Opção</a></li>
                        <li><a href="./Login.html">Login</a></li>
                </ul>

            </div>

            <i class="fas fa-bars"onclick="showMenu()"></i>

        </nav>

        <h1>Contato</h1>

    </section>

    <section class="Conteudo-Leconni"></section>

        <div class="row">
            <div class="Conteudo-direita">
                <img src="/static/Imagens/certificate.jpg">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus incidunt eius blanditiis dignissimos 
                    libero minus veniam labore quasi, totam, est deleniti magni esse, sunt maxime sit? Accusamus soluta facilis molestias.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eius sint sequi accusantium officiis blanditiis et rem, 
                    nam iure ad distinctio earum, sit possimus similique velit quo? Unde nesciunt deserunt iure, id veniam quibusdam veritatis 
                    inventore consequatur modi ad. Commodi illum unde dolorum veritatis atque quos soluta nemo sunt id modi odio velit, optio 
                    perferendis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eius sint sequi accusantium officiis blanditiis et rem, 
                    nam iure ad distinctio earum, sit possimus similique velit quo? Unde nesciunt deserunt iure, id veniam quibusdam veritatis 
                    inventore consequatur modi ad. Commodi illum unde dolorum veritatis atque quos soluta nemo sunt id modi odio velit, optio 
                    perferendis.</p>

                <div class="miniformulario">

                    <h3>Formulario</h3>

                    <form class="Formulario-Cadastro">

                        <input type="text" placeholder="Digite seu nome">
                        <input type="text" placeholder="Digite seu Telefone">
                        <input type="text" placeholder="Digite seu E-Mail">
                       
                        <textarea rows="5" placeholder="Motivo do contato">
                        </textarea>
                      
                        <button type="Enviar" class="hero-btn red-btn">Enviar</button>
                   
                    </form>
              
                </div>

            </div>
            <div class="Conteudo-esquerda">
                <h3>Categorias</h3>
                <div>
                    <span>Analise</span>
                    <span>21</span>
                </div>
                <div>
                    <span>Analise</span>
                    <span>21</span>
                </div>
                <div>
                    <span>Analise</span>
                    <span>21</span>
                </div>
                <div>
                    <span>Analise</span>
                    <span>21</span>
                </div>
                <div>
                    <span>Analise</span>
                    <span>21</span>
                </div>
                <div>
                    <span>Analise</span>
                    <span>21</span>
                </div>
            </div>
        </div>

    <section class="footer">

        <h4>Sobre nos</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Ipsum recusandae labore a animi omnis ut!</p>

        <div class="Icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-instagram"></i>                      
        </div>

    </section>

</body>
</html>


