<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    
    <title>Leconni Marcas e Patentes</title>
    
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    
    <section class="header">
        
        <nav>
            
            <a href="#"><img src="/static/Imagens/logo.png" alt="Logo"></a>
                
            <div class="nav-links" id="navLinks">

                    <i class="fas fa-times-circle" onclick="hideMenu()"></i>
                    
                    <ul>
                    <li><a href="./index.html">Início</a></li>
                    <li><a href="./About.html">Sobre</a></li>
                    <li><a href="./Servicos.html">Serviços</a></li>
                    <li><a href="./Contact us.html">Contato</a></li>
                    <li><a href="./Contato.html">Contato 2 Opção</a></li>
                    <li><a href="./Login.html">Login</a></li>
                </ul>

            </div>

            <i class="fas fa-bars"onclick="showMenu()"></i>

        </nav>

        <div class="text-box">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eos in quia impedit quas optio.</p>
            <a href="" class="hero-btn">Saiba Mais</a>
        </div>

    </section>

    <section>
        <section class="Servicos">
            
            <h1>Serviços que oferecemos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, nemo.</p>

            <div class="row">

                <div class="Servicos-col">
                    <h3>Oposição</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi hic atque a nisi laboriosam laudantium quia ratione quae praesentium tempore, 
                        <br>at iste repellat error natus expedita velit voluptate corporis corrupti itaque sint excepturi animi. Corporis ipsum nihil maxime debitis et! 
                        <br>Sed assumenda vitae quae debitis praesentium, amet animi similique omnis fugiat illum quisquam ipsa.</p>
                </div>

                <div class="Servicos-col">
                    <h3>Caducidade</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi hic atque a nisi laboriosam laudantium quia ratione quae praesentium tempore, 
                        <br>at iste repellat error natus expedita velit voluptate corporis corrupti itaque sint excepturi animi. Corporis ipsum nihil maxime debitis et! 
                        <br>Sed assumenda vitae quae debitis praesentium, amet animi similique omnis fugiat illum quisquam ipsa.</p>
                </div>

                <div class="Servicos-col">
                    <h3>Registro da Marca</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi hic atque a nisi laboriosam laudantium quia ratione quae praesentium tempore, 
                        <br>at iste repellat error natus expedita velit voluptate corporis corrupti itaque sint excepturi animi. Corporis ipsum nihil maxime debitis et! 
                        <br>Sed assumenda vitae quae debitis praesentium, amet animi similique omnis fugiat illum quisquam ipsa.</p>
                </div>

            </div>
        </section>
    </section>
    
    </section>
        <section class="Escritorio">
            <h1>Nossos Escritorios</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, quos.</p>
            
            <div class="row">
                
                <div class="Escritorio-col">
                    <img src="/static/Imagens/london.png">
                    <div class="layer">
                        <h3>SAVASSI</h3>
                    </div>
                </div>
              
                <div class="Escritorio-col">
                    <img src="/static/Imagens/newyork.png">
                    <div class="layer">
                        <h3>CENTRO</h3>
                    </div>
                </div>
               
                <div class="Escritorio-col">
                    <img src="/static/Imagens/washington.png">
                    <div class="layer">
                        <h3>RIO DE JANEIRO</h3>
                    </div>
                </div>
          
            </div>
        </section>
    </section>

    </section>
    
        <section class="instalacoes">
            <h1>Nossas instalações</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, temporibus?</p>
        </section>

        <div class="row">
            <div class="instalacoes-col">
                <img src="/static/Imagens/library.png">
                <h3>Operacional</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et doloremque illum cum sapiente facilis inventore.</p>
            </div>

            <div class="instalacoes-col">
                <img src="/static/Imagens/basketball.png">
                <h3>Comercial</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et doloremque illum cum sapiente facilis inventore.</p>
            </div>

            <div class="instalacoes-col">
                <img src="/static/Imagens/cafeteria.png">
                <h3>Cafeteria</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et doloremque illum cum sapiente facilis inventore.</p>
            </div>

        </div>

    </section>

    <section class="Comentarios">
        <h1>O que nossos clientes dizem sobre nós</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, possimus?</p>
    
        <div class="row">

            <div class="Comentarios-col">

                <img src="/static/Imagens/user1.jpg">

                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi dicta quisquam veniam numquam similique aspernatur minus voluptates repellat aut.</p>
                    <h3>Mulher 100% Aleatoria</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
    
            <div class="Comentarios-col">
                <img src="/static/Imagens/user2.jpg">
                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi dicta quisquam veniam numquam similique aspernatur minus voluptates repellat aut.</p>
                    <h3>Homem 100% Aleatorio</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
            </div>

        </div>

    </section>
    
    <section class="Contact">
        <h1>Consulte sobre sua marca</h1>
        <a href="" class="hero-btn">Contact US</a>
    </section>

    <section class="footer">

        <h4>Sobre nos</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Ipsum recusandae labore a animi omnis ut!</p>

        <div class="Icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-instagram"></i>                      
        </div>

    </section>

</body>
</html>
