<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    
    <title>Serviços</title>
    
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"> 
    <link rel="icon" type="image/png" href="/static/Imagens/Leconni-Rounded.png">


</head>

<body>
    
    <section class="Sub-header">
        
        <nav>
            
            <a href="./index.html"><img src="/static/Imagens/logo.png" alt="Logo"></a>
                
            <div class="nav-links" id="navLinks">

                    <i class="fas fa-times-circle" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="./index.html">Início</a></li>
                        <li><a href="./About.html">Sobre</a></li>
                        <li><a href="./Servicos.html">Serviços</a></li>
                        <li><a href="./Contact us.html">Contato</a></li>
                        <li><a href="./Contato.html">Contato 2 Opção</a></li>
                        <li><a href="./Login.html">Login</a></li>
                </ul>

            </div>

            <i class="fas fa-bars"onclick="showMenu()"></i>

        </nav>

        <h1>Nossos Serviços</h1>

    </section>

    <section>
        <section class="Servicos">

            <h1>Serviços que oferecemos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, nemo.</p>

            <div class="Pagina-Servicos-row">

                <div class="Pagina-Servicos-col">

                    <h3>Oposição</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi hic atque a nisi laboriosam laudantium quia ratione quae praesentium tempore, 
                        <br>at iste repellat error natus expedita velit voluptate corporis corrupti itaque sint excepturi animi. Corporis ipsum nihil maxime debitis et! 
                        <br>Sed assumenda vitae quae debitis praesentium, amet animi similique omnis fugiat illum quisquam ipsa.</p>
                </div>

                <div class="Pagina-Servicos-col">

                    <h3>Caducidade</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi hic atque a nisi laboriosam laudantium quia ratione quae praesentium tempore, 
                        <br>at iste repellat error natus expedita velit voluptate corporis corrupti itaque sint excepturi animi. Corporis ipsum nihil maxime debitis et! 
                        <br>Sed assumenda vitae quae debitis praesentium, amet animi similique omnis fugiat illum quisquam ipsa.</p>
                </div>

                <div class="Pagina-Servicos-col">
                    
                    <h3>Registro da Marca</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi hic atque a nisi laboriosam laudantium quia ratione quae praesentium tempore, 
                        <br>at iste repellat error natus expedita velit voluptate corporis corrupti itaque sint excepturi animi. Corporis ipsum nihil maxime debitis et! 
                        <br>Sed assumenda vitae quae debitis praesentium, amet animi similique omnis fugiat illum quisquam ipsa.</p>
                </div>
                 
                <div class="Pagina-Servicos-col">

                    <h3>Oposição</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi hic atque a nisi laboriosam laudantium quia ratione quae praesentium tempore, 
                        <br>at iste repellat error natus expedita velit voluptate corporis corrupti itaque sint excepturi animi. Corporis ipsum nihil maxime debitis et! 
                        <br>Sed assumenda vitae quae debitis praesentium, amet animi similique omnis fugiat illum quisquam ipsa.</p>
                </div>

                <div class="Pagina-Servicos-col">

                    <h3>Caducidade</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi hic atque a nisi laboriosam laudantium quia ratione quae praesentium tempore, 
                        <br>at iste repellat error natus expedita velit voluptate corporis corrupti itaque sint excepturi animi. Corporis ipsum nihil maxime debitis et! 
                        <br>Sed assumenda vitae quae debitis praesentium, amet animi similique omnis fugiat illum quisquam ipsa.</p>
                </div>

                <div class="Pagina-Servicos-col">
                    
                    <h3>Registro da Marca</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi hic atque a nisi laboriosam laudantium quia ratione quae praesentium tempore, 
                        <br>at iste repellat error natus expedita velit voluptate corporis corrupti itaque sint excepturi animi. Corporis ipsum nihil maxime debitis et! 
                        <br>Sed assumenda vitae quae debitis praesentium, amet animi similique omnis fugiat illum quisquam ipsa.</p>
                </div>
                
                <div class="Pagina-Servicos-col">

                    <h3>Oposição</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi hic atque a nisi laboriosam laudantium quia ratione quae praesentium tempore, 
                        <br>at iste repellat error natus expedita velit voluptate corporis corrupti itaque sint excepturi animi. Corporis ipsum nihil maxime debitis et! 
                        <br>Sed assumenda vitae quae debitis praesentium, amet animi similique omnis fugiat illum quisquam ipsa.</p>
                </div>

                <div class="Pagina-Servicos-col">

                    <h3>Caducidade</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi hic atque a nisi laboriosam laudantium quia ratione quae praesentium tempore, 
                        <br>at iste repellat error natus expedita velit voluptate corporis corrupti itaque sint excepturi animi. Corporis ipsum nihil maxime debitis et! 
                        <br>Sed assumenda vitae quae debitis praesentium, amet animi similique omnis fugiat illum quisquam ipsa.</p>
                </div>

                <div class="Pagina-Servicos-col">
                    
                    <h3>Registro da Marca</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi hic atque a nisi laboriosam laudantium quia ratione quae praesentium tempore, 
                        <br>at iste repellat error natus expedita velit voluptate corporis corrupti itaque sint excepturi animi. Corporis ipsum nihil maxime debitis et! 
                        <br>Sed assumenda vitae quae debitis praesentium, amet animi similique omnis fugiat illum quisquam ipsa.</p>
                </div>
            </div>
        </section>
    </section>


    
    <section class="footer">

        <h4>Sobre nos</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Ipsum recusandae labore a animi omnis ut!</p>

        <div class="Icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-instagram"></i>                      
        </div>

    </section>

</body>
</html>
